.api {
  flex-basis: calc(100% / 3 - 24px);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #dadce0;
  margin: 12px;
  transition: all 0.18s ease;
  text-decoration: none;
  color: #202124;
  transform: translateY(0);
}
.api:hover,
.api:focus {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  transform: translateY(-1px);
  outline: none;
}
.api:hover .api__name {
  text-decoration: underline;
}
.api__name {
  padding: 16px 16px 12px;
  max-width: calc(100% - 60px);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #202124;
}
.api__features {
  padding: 0 16px 8px;
  display: grid;
  grid-template-columns: 38px 78px auto;
  grid-template-rows: auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 400;
}
.api__auth_icon {
  width: 24px;
  height: 24px;
  transform: translateY(-3px);
}
.api__https {
  color: #ca2f2f;
}
.api__https[data-https='true'] {
  color: #0fa22f;
}
.api__description {
  padding: 0 16px 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 40;
}
.heart_container {
  position: absolute;
  right: 42px;
  top: 16px;
}
.heart {
  display: none;
  width: 14px;
  height: 24px;
  position: absolute;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background: #e2e2e2;
  transition-property: transform;
  transition-duration: 0.32s;
}
.heart__l {
  transform: rotate(-45deg) scale(0.9);
  left: 0px;
}
.heart__r {
  transform: rotate(45deg) scale(0.9);
  left: 8px;
}
.heart_container:hover > .heart {
  background: #f7b9b9;
}
.heart_container:hover > .heart__l {
  transform: rotate(-45deg) scale(1);
}
.heart_container:hover > .heart__r {
  transform: rotate(45deg) scale(1);
  transition-property: transform;
  transition-duration: 0.32s;
}
.heart_container.active .heart {
  background: #cb3d3d;
}

@media screen and (max-width: 911px) {
  .api {
    flex-basis: calc(100% / 2 - 24px);
  }
}

@media screen and (max-width: 560px) {
  .api {
    flex-basis: calc(100% / 1 - 24px);
  }
}
