.menu {
  min-height: 64px;
  padding: 0 0 0 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  color: #202124;
  border-bottom: 1px solid #dadce0;
  user-select: none;
}
